<?xml version="1.0"?>
<launch>
  <!-- Start the sensor info publisher node.-->
  <node name="sensor_info" pkg="ros_basics" type="sensor_info_publisher.py"
    output="screen"/>

  <!-- Start the BoxHeightInformation publisher node -->
  <node name="box_height_metres" pkg="ros_basics" type="compute_box_height.py"
    output="screen"/>

  <!-- Start the metres_to_feet service server ROS node.-->
  <node name="metres_to_feet" pkg="ros_basics" type="metres_to_feet_server.py"
    output="screen"/>

  <!-- BoxHeightInformation subscriber / convert to Feet node -->
  <node name="box_height_feet" pkg="ros_basics" type="box_height_in_feet.py"
    output="screen"/>
</launch>
